# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual env
venv/
.venv/

# Project runtime artifacts
cache/
output/*
logs/
*.pdf
cache.json
.DS_Store

# IDE and editor files
.vscode/
*.code-workspace

